from Discord:
to me this would be the most intuitive way to go about this problem, even if it's terribly inefficient:
* come up with a square counting function, where f(x) = [the number of square numbers smaller than x]. my initial instinct is that f(x) = floor(sqrt(x)) - 1 or something similar, but I need to confirm that
* since I'm assuming I'm dealing with a relative small value of x (something upon the order of 10^10, perhaps?), I could use the sieve of eratosthenes to count the number of prime numbers smaller than x
* in that case it should be trivial to write a python function to calculate f(x) = [the number of primes smaller than x]
* then I graph the two
* then profit??????????????

In [17]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
def square_count(x):
    return math.floor(math.sqrt(x)- 1)

In [ ]:
square_count = pd.DataFrame([[x, square_count(x)] for x in range(1, 10001)], columns = ["x", "f_x"])
square_count

          x  f_x
0         1    0
1         2    0
2         3    0
3         4    1
4         5    1
...     ...  ...
9995   9996   98
9996   9997   98
9997   9998   98
9998   9999   98
9999  10000   99

[10000 rows x 2 columns]